# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME_CARTA=carta
DB_NAME_PERSONAL=personal

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Security
JWT_SECRET=YOUR_SUPER_SECRET_KEY_HERE_MIN_256_BITS
