# Configuración de la API (incluye el context-path completo)
PERSONAL_API_URL=http://localhost:8085/api/personal
CARTA_API_URL=http://localhost:8081/api/carta
RESERVAS_API_URL=http://localhost:8087/api/reservas

# Redis (para eventos futuro)
REDIS_HOST=localhost
REDIS_PORT=6379
