SPRING_PROFILES_ACTIVE=local

POSTGRES_DB=reservas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5435/reservas
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6380

APP_JWT_SECRET=CHANGE_ME_MIN_256_BITS_______________________________________
APP_JWT_ISSUER=personnel-service
APP_JWT_AUDIENCE=reservas-service
APP_JWT_ALLOWED_ROLES=OWNER,MANAGER,WAITER,CUSTOMER

APP_REDIS_STREAM_INPUT=sala.events
APP_REDIS_STREAM_OUTPUT=reservas.events
APP_REDIS_CONSUMER_GROUP=reservas-group

APP_ALLOCATION_HOLD_TIMEOUT_MINUTES=15
